<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'list' %>
    <div class="col-md-8 offset-md-1 mt-5 mb-5 d-flex flex-nowrap">
            <%= image_tag @item.get_image, size: "400x300" %>
      <div class="col-8">
            <h2 class="mb-3"><strong><%= @item.name %></strong></h2>
            <p class="mb-5"><%= @item.introduction %></p>
            <h4>¥ <%= @item.add_tax_price.to_s(:dalimited) %>(税込)</h4>
      </div>
    </div>
  </div>
</div>